* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, serif;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.2em;
}

a {
	text-decoration: none;
	color: DarkOliveGreen;
}

a:hover {
	text-decoration: underline;
}

blockquote {
	border-left: 5px solid DarkOliveGreen;
	padding-left: 2%;
}

header {
	text-align: center;
	margin-bottom: 5%;
}

nav {
	text-align: left;
}

nav ul li {
	display: inline-block;
	margin-right: 5%;
	list-style-type: none;
}

section {
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

article {
	text-align: left;
	line-height: 2em;
	padding-left: 5%;
	padding-right: 5%;
}

.postdate {
	font-size: 0.9em;
	line-height: 1em;
}

footer {
	text-align: center;
	font-size: 0.6em;
}
